body{
    margin:0;
    padding:0;
    background-size: cover;
    font-family: sans-serif;
    background-image:url('light.jpg');
    background-position:center center;
}
/*log out box*/
.logoutbox{
    width:320px;
    height:420px;
    background: white;
    color:black;
    top:50%;
    position: relative;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 80px;
    opacity:0.9;
}
/*massege*/
.logoutbox p{
    color: black;
    padding: 10px;
    margin-top: 1px;
}
.logoutbox a{       /*log out  bottun*/
    background-color:whitesmoke;
    color:black;
    padding:5px 20px ;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 30px;
    outline:none;
    margin-right: auto;
    position: relative;
    left: 45px;
    margin-left: auto;
}
/*log out hesder*/
h3{ 
    margin: 0;
    padding:5px;
    text-align: center;
    color:cadetblue;
    font-size: 25px;
 }